/* Global styles */
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px
  }


body {
	font-family: "Open Sans", sans-serif;
	/* font-family: 'Libre Baskerville', serif; */
	color: #686868;
	font-size: 15px;
	background-color: transparent;
}


.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.clear{
	clear: both;
}

a {
	text-decoration: none;
	color: #79accd;
}

a:hover {
	color: #79accd;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	font-weight: 400;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
	margin-bottom: 15px;
}

ul{
	list-style-type: square;
	margin-left: 60px;
	margin-bottom: 30px;
}

ul li{
	line-height: 1.9;
}



/* ================================================= */


.zipSearch {
	display: none;
}

/* tablets and desktop */
@media only screen and (min-width: 400px) {

/* Map Canvas styles */
#map-canvas{
	height: 100%;
	width: 100%;
}

/* ================================================= */
/* SearchPanel styles */


	p {
		margin-bottom: 15px;
		line-height: 20px;
	}

	.Unified-search{
    	position:absolute; top:75px; left:100; z-index:999;
		color: #000;
    	background-color:#FFF;
		width: 25%;
		padding: 10px 10px;
    
    	opacity: 0.85;
    	box-shadow: 0px 5px 10px 0px #555;
	}

	.search-header__title{
		width: 50%;
		float: left;
	}
/*	.search-header__searchOpts{
		width: 55%;
		float: right;
		text-align: right;
	}
*/
/*	.search-header__searchOpts span{
		display: absolute;
		color: #FFF;
		width: 45%;
		background: #ff5722;
		padding: 2%;
		font-size: .8rem;
		text-align: center;
		cursor: pointer;
	}
	.search-cityOpt {
		float:left;
	}
	.search-zipOpt{
		float:right;
	}
*/
	input[type="search"]{
		width: 65%;
    	padding: 2%;
    	padding-left: 10px;

		height: 40px;
		font-size: 24px;
    	color: #FFF;
		background-color: #455055; /* dark grey bluish */
    	border:none;
    	border-radius: 3px;
    	outline:none;
    	transition: width 100ms linear,
    		background-color 300ms linear;
	}
	.search--expanded{
		width: 100% !important;
		color: #555 !important;
		background-color: #eeeeee !important;
		transition: all 100ms linear;
	}
	
	.goBtn {
    	position: absolute;
    	right: 122px;
    	top: 55px;	    
    	height: 40px;
	    color: #FFF;
	    float: right;
	    border: none;
	    width: 40px;
	    border-radius: 0 3px 3px 0;
	    background: #9E9E9E;
	    cursor: pointer;
    	transition: all 100ms linear;
    	font-size: 1.1rem;
	}
	.goBtn--expanded{
		right: 10;
    	transition: all 100ms linear;
	}
	
}



/* mobile? */
@media only screen and (max-width: 360px) {
    
	p {
		margin-bottom: 10px;
		line-height: 26px;
	}
	
	#map-canvas{
		height: 100%;
	}
	
	#control{
		color: #D8D8DD;
		padding: 20px 30px 10px 30px;
	}

	#control input[type=text]{
		width: 100%;
		height: 40px;
		font-size: 24px;
		background-color: #6B7283;
		border: 1px solid #BE757E;
	}
	
	.learnButton {
		float: left;
		margin: 0px 10px 0px 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		background: #BE757E;
		border: 0;
		color: #D8D8DD;
		height: 37px;
		line-height: 37px;
		width: 40%;
		text-align: center;
	}
	
	#mc_embed_signup{
		display: none;
	}

	#mc_embed_signup form label{
		margin-bottom: 30px;
		line-height: 20px;
		clear: right;
	}

	#mc_embed_signup form input.email{
		width: 100%;
		height: 40px;
		font-size: 24px;
		background-color: #6B7283;
		border: 1px solid #BE757E;
	}
}
