	<div id="control" class="Unified-search">
		<div class="seach-header">
			<h5 class="search-header__title">Find Nearby Tech Events: </h5>
		</div>

		<div id="clear"></div>

		<div>

			<div class="search-bar">
				<input type="search" name="search-q" id="q" class="tm-search" placeholder="zip or city" >
				<button id="submit" class="goBtn">GO</button>
			</div>

			<div id="clear"></div>

		</div>
	</div>
